.hover {
  cursor: pointer;
}

#nprogress .bar {
  background: purple;

  position: fixed;
  z-index: 1031;
  top: 92px;
  left: 0;

  width: 100%;
  height: 5px;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 30px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: purple;
  border-left-color: purple;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: bold;
}

.dataTables_length {
  margin-right: 15px;
}

.dataTables_paginate {
  font-size: 12px;
  margin-top: 0px;
  font-weight: bold;
}
.dataTables_info {
  font-size: 12px;
  margin-top: -5px;
  font-weight: bold;
  margin-right: 20px;
}

.dt-buttons {
  font-size: 11px;
}

.js-button {
  position: absolute;
  right: 20px;
  display: inline-block;
  cursor: pointer;
  background: #0d47a1;
  color: #fff;
  padding: 3px 5px 3px 5px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
}

pre {
  font-family: "Roboto", sans-serif !important;
  white-space: pre-wrap;
  background: transparent !important;
  font-size: 12px !important;
  display: table;
  border-collapse: separate;
}

table td,
table td * {
  vertical-align: top;
}
