.hover {
  cursor: pointer;
}

#nprogress .bar {
  background: red;

  position: fixed;
  z-index: 1031;
  top: 64px;
  left: 0;

  width: 100%;
  height: 5px;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 12px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: red;
  border-left-color: red;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: bold;
}

.dataTables_info,
.dataTables_paginate {
  font-size: 12px;
  margin-top: 0px;
  font-weight: bold;
}
